input, textarea{
    min-width: 310px;
    height: 30px;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 5px;
    resize: none;
    box-sizing: border-box;
  }
  input[id*="input"]::placeholder,textarea[id*="input"]::placeholder{
  color: black;
}
  form{
    max-height: 100px;
  }
  #review-list{
    max-height: 83px;
    overflow: auto;
  }
  .review-item{
    margin: 10px 0;
  }
  #input-comm{
    width: 310px;
    height: 80px;
  }
  h3{
    font-size: 16px;
  }
#name-style#place-style#text-style{
  font-size: 16px;
}
#name-style{
  font-weight: 700;
}
#place-style{
  color: #8F8F8F;
}
#text-style{
  color: #8F8F8F;
  
}
#form-review{
  margin: 10px 0px;
}
.button{
  color: white;
  padding: 9px 16px;
  border-radius: 2px;
  background-color: #FF8663;
  border-color: transparent;
}